@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translate(-100px);
    }

    80%{
        transform: translate(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes floatUp{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
