*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*change the box model, so that the borer and padding are no longer added to the total width or total height specified */
}

html {
    font-size: 62.5%;
}
body{

    padding: 30px;
}
