body{
    font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.7;
color: $color-grey-dark;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    
    backface-visibility: hidden;
    margin-bottom: 20px;
    
    &-main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        
        animation-timing-function: ease-out;
        }
        
        &-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        
        animation-name: moveInRight;
        animation-duration: 1.5s;
        
        animation-timing-function: ease-out;
        }
    }

    .heading-secondary{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; //background gets clipped to where the text sits
        color: transparent;
        letter-spacing: .2rem;
        transition: all .2s;


        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }

    .heading-tertiary{
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-grey-dark;
        text-transform: uppercase;
    }

    .paragraph{
        font-size:1.6rem;

        &:not(:last-child)
        {
            margin-bottom: 3rem;
        }
    }