.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0rem;
    margin-top: -20rem;
}

.section-feature{
padding: 20rem 0;
background-image: linear-gradient(to right bottom,
                     rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
                     url(../img/nat-4.jpg);
background-size: cover;

transform: skewY(-7deg);
margin-top: -10rem;

& > *{
    transform: skewY(7deg);

}


}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 50rem 0 5rem 0;
    margin-top: -40rem;
}

.section-stories{
    position: relative;
    padding: 15rem 0;
}

.section-book{
padding: 40rem 0;
background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    background-image: url(../img/nat-10.jpg);
    background: 100%;
   height: 50rem;
    
}