

.header{
    height: 95vh; /* 95% of the view point height*/
    background-image: linear-gradient(to right bottom,
                     rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
                     url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

      &-text-box{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            &-logo-box{
            position: absolute;
            top: 40px;
            left: 40px;  
        }

        &-logo{
            height: 35px;
        }
        
    }