//COLORS

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000000;



$color-purple-dark: #8c28b4;
$color-purple-light: #a870e7;


$color-blue-dark: #5643fa;
$color-blue-light: #2998ff;

$color-orange-dark:#ffb900;
$color-orange-light:#ff7730;

//FONT SIZE
$default-font-size: 1.6rem;
$font-size-medium: 3rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 122rem;