

.btn{
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px  20px rgba($color-black, .2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    
    
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px  10px rgba($color-black, .2);
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }

        &--green{
            background-color: $color-primary;
            color: $color-white;
    
            &::after{
                background-color: $color-primary;
                
            }
        }

    
    
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
        
    
    &{
        /*animation-name: floatUp;
     animation-duration: 1.5s;
    
    animation-timing-function: ease-out; */
    animation: floatUp .5s ease-out .5s;
    animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link, 
    &:visited{
        font-size:$default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translate(-2px);

    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translate(0);
    }
}