.card{

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    

    &-side{
        //background-color: red;
        height: 50rem;
        
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        


        &-front{
            background-color: $color-white;
        }

        &-back{
            
            &-1{
                background-image: linear-gradient(to right bottom,
                $color-purple-light, $color-purple-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom,
                $color-blue-light, $color-blue-dark);
            }

            &-3{
                background-image: linear-gradient(to right bottom,
                $color-orange-light, $color-orange-dark);
            }
            
            transform: rotateY(180deg);
        }
    }

    &:hover &-side{
        transform: rotateY(180deg);
    }

    &:hover &-side-front{
        transform: rotateY(-180deg);
    }

    &:hover &-side-back{
        transform: rotateY(0);
    }

    &__image{
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
border-top-right-radius: 3px;
border-top-left-radius: 3px;
       
        
        &--1{
            background-image: linear-gradient(to right bottom,
            $color-purple-light, $color-purple-dark),
            url(/img/nat-5.jpg);

        }

        &--2{
            background-image: linear-gradient(to right bottom,
            $color-blue-light, $color-blue-dark),
            url(/img/nat-6.jpg);
        }

        &--3{
            background-image: linear-gradient(to right bottom,
                $color-orange-light, $color-orange-dark), url(/img/nat-7.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;

    }
    &__heading-span{
        
        -webkit-box-decoration-break:clone;
        &--1 {
            background-image: linear-gradient(to right bottom, rgba(
                $color-purple-light, .85), rgba($color-purple-dark, .85));   
        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba(
                $color-blue-light, .85), rgba($color-blue-dark, .85)); 
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgba(
                $color-orange-light, .85), rgba($color-orange-dark, .85));   
        }
    }

    &__details{
        
       padding-right: 2rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
text-align: center;
font-size: 1.5rem;
padding: 1rem;

&:not(:last-child)
{
    border-bottom: 1px solid $color-grey-light-2;
}
            }
        }
    }



    //Back Card Side

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__pricebox{
        color: $color-white;
    }

    &__price-only{
font-size: 1.4rem;
text-transform: uppercase;

    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
        
    }
}