.composition{
    position: relative;

&__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1{
            left: 15%;
            top: 4rem;
        }
        &--p2{
            left: 4%;
            top: 7rem;
        }
        &--p3{
            left: 1%;
            top: -4rem;
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
            z-index: 20;
        }
}

&:hover &__photo:not(:hover)
{
    transform: scale(.95);
}

}