.navigation{
  //  transition: all .5s;
    &__checkbox{
        position: fixed;
        top: 6.5rem;
        right: 7rem;
    }

    &__button{
background-color: $color-white;
height: 7rem;
width: 7rem;
position: fixed;
top: 6rem;
right: 6rem;
border-radius: 50%;
z-index: 2000;
box-shadow: 0 1rem 3rem rgba($color-black, .1);
text-align: center;


    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        background-image: radial-gradient($color-primary, $color-primary-light);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
       
        //transform: scale(80);
    }

    &__nav{
height: 100vh;

position: fixed;
top: 0;
right: 0;
z-index: 1500;
left: -1000px;

width: 100%;
//to make it invisible

opacity: 0;

transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

    &__list{
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50%, -50%);
list-style: none;
text-align: center;
    }


    &__item{
margin: 1rem;
    }

    &__link {
        &:link,
        &:visited{
            display: inline-block;
            font-size: $font-size-medium;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent  0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;

            span{
                margin: 1rem;
                display: inline-block;
            }
            
        }

        &:hover,
        &:active{
            background-position: 100%;
            transform: translateX(1rem);
            color: $color-primary;
        }

    }

    //FUNCTIONALITY
   &__checkbox:checked ~ &__background{
       transform: scale(80);
   }

   &__checkbox:checked ~ &__nav{
        left: 0;
        opacity: 1;
    }

//ICON
&__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-3;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
}

&__button:hover &__icon::before {
    top: -1rem;
}

&__button:hover &__icon::after {
    top: 1rem;
}

&__checkbox:checked + &__button &__icon {
    background-color: transparent;
}

&__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
}

&__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
}
}