.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    & > *{
        transform: skewX(12deg);
    
    }
        

    &__shape{   
        width: 15rem;
        height: 15rem;
        float: left;
        overflow: hidden;
        border-radius: 50%;
       
    transform: translateX(-3rem)  skewX(12deg);

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
                        }
        }

    &__text{
        transform: skewX(12deg);
    }

    &__image
    {
        height: 100%;
        backface-visibility: hidden;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        font-size: $default-font-size;
        opacity: 0;
        backface-visibility: hidden;
        transition: all .5s; //to animate it: the hovers
    }

    &:hover &__caption{

        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        
        filter: blur(8px) brightness(80%);
        -webkit-filter: blur(8px);
    }

}